<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper">
<div class="main-panel">
    <app-navbar></app-navbar>
    <h3>Users</h3>
    <div>
      <button (click)="exportAsXLSX()">export<i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
    </div>
    <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">PanCard</th>
              <th scope="col">Is Verified</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users;let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.panCard}}</td>
              <td>{{user.isApproved}}</td>
            </tr>
          </tbody>
        </table>  
      </div>
 
<app-footer></app-footer>
     
</div>
</div>
