.nav-item.logout a{
    color: #fff;
}
.navbar-nav ul {padding-left: 0;}
.navbar-nav ul li{
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.navbar-nav ul li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.navbar-nav ul li a:hover {background-color: #ddd;}

.navbar-nav ul:hover li{display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}