<!--<div *ngIf = "subscription.planid">

  
{{subscription.planid.name}}
{{subscription.amount}}
{{subscription.subscriptionDate}}
{{subscription.assetQuantity}}
{{subscription.buyingprice}}

</div>-->



<app-sidebar></app-sidebar>
<div class="main-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a >Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
      </ol>
      <div class="row margin-left">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-panel1 o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="mr-5" *ngIf ="subscription.planid">Your Plan: {{subscription.planid.name}}</div>
            </div>
            <a class="card-footer clearfix small z-1" >
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-panel2 o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-money"></i>
              </div>
              <div class="mr-5" *ngIf ="subscription.amount">Investment Amount: <i class="fa fa-fw fa-inr"></i>{{subscription.amount}}</div>
            </div>
            <a class="card-footer clearfix small z-1" >
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-panel3 o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5" *ngIf ="subscription.assetQuantity">No of Units: {{subscription.assetQuantity}}</div>
            </div>
            <a class="card-footer clearfix small z-1" >
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-panel4 o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-life-ring"></i>
              </div>
              <div class="mr-5" *ngIf ="unitPrice">Current Unit Price: <i class="fa fa-fw fa-inr"></i>{{unitPrice}}</div>
            </div>
            <a class="card-footer clearfix small z-1" >
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
</div>
