<div class="text-center" cz-shortcut-listen="true">
  <form class="form-signin" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm">
  <a  [routerLink]="['/home']" routerLinkActive="active">
  <img class="trad-logo mb-4" src="assets/images/logo.png" alt="Logo"/>
  </a>
  <alert></alert>
  <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
  <div class="row">
     <div class="col-md-6 mb-3"  [ngClass]="{
        'was-validated ': f.form.controls.firstName?.invalid && (f.form.controls.firstName?.dirty || f.form.controls.firstName?.touched),
        'has-success': f.form.controls.firstName?.valid && (f.form.controls.firstName?.dirty || f.form.controls.firstName?.touched)
        }">
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" value="" [(ngModel)]="model.firstName" #firstName="ngModel" required>
        <div class="invalid-feedback">
           First name is required.
        </div>
     </div>
     <div class="col-md-6 mb-3"  [ngClass]="{
        'was-validated ': f.form.controls.lastName?.invalid && (f.form.controls.lastName?.dirty || f.form.controls.lastName?.touched),
        'has-success': f.form.controls.lastName?.valid && (f.form.controls.lastName?.dirty || f.form.controls.lastName?.touched)
        }">
        <input type="text" class="form-control" id="lastName"  name="lastName" placeholder="Last name" value="" [(ngModel)]="model.lastName" #lastName="ngModel" required>
        <div class="invalid-feedback">
           Last name is required.
        </div>
     </div>
  </div>
  <div class="input-group mb-3"
     [ngClass]="{
     'was-validated ': f.form.controls.email?.invalid && (f.form.controls.email?.dirty || f.form.controls.email?.touched),
     'has-success': f.form.controls.email?.valid && (f.form.controls.email?.dirty || f.form.controls.email?.touched)
     }">
     <input type="email" class="form-control"  name="email" id="email" placeholder="you@example.com" [(ngModel)]="model.email" #email="ngModel" required pattern="[^ @]*@[^ @]*">        
     <div class="invalid-feedback">
        Please enter a valid email address.
     </div>
  </div>
  <div class="mb-3"  [ngClass]="{
     'was-validated ': f.form.controls.phone?.invalid && (f.form.controls.phone?.dirty || f.form.controls.phone?.touched),
     'has-success': f.form.controls.phone?.valid && (f.form.controls.phone?.dirty || f.form.controls.phone?.touched)
     }">
     <input type="tel" class="form-control"  name="phone" id="phone" placeholder="Phone" [(ngModel)]="model.phone" pattern="[0-9]{10}" #phone="ngModel" required >
     <div class="invalid-feedback">
        Please enter a valid Phone number.
     </div>
  </div>
  <div class="mb-3"  [ngClass]="{
     'was-validated ': f.form.controls.ngbDatepicker?.invalid && (f.form.controls.ngbDatepicker?.dirty || f.form.controls.ngbDatepicker?.touched),
     'has-success': f.form.controls.ngbDatepicker?.valid && (f.form.controls.ngbDatepicker?.dirty || f.form.controls.ngbDatepicker?.touched)
     }">
     <div class="form-group">
        <div class="input-group">
           <input class="form-control" placeholder="yyyy/mm/dd"
           name="dp" [(ngModel)]="datemodel"  [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker" required/>
           <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="assets/images/calendar.png" style="width:16px;height:16px;" alt="Calendar"/>
              </button>
           </div>
        </div>
        <div class="invalid-feedback">
           Please enter a valid Date of birth.
        </div>
     </div>
  </div>
  <div class="mb-3" [ngClass]="{
     'was-validated ': f.form.controls.password?.invalid && (f.form.controls.password?.dirty || f.form.controls.password?.touched),
     'has-success': f.form.controls.password?.valid && (f.form.controls.password?.dirty || f.form.controls.password?.touched)
     }">
     <input type="password" class="form-control"  name="password" id="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required >
     <div class="invalid-feedback">
        Please enter a valid Password.
     </div>
  </div>
 <!-- <div class="mb-3"[ngClass]="{
     'was-validated ': f.form.controls.cpassword?.errors.compare && !f.form.controls.cpassword?.errors.required,
     'has-success': f.form.controls.cpassword?.valid && (f.form.controls.cpassword?.dirty || f.form.controls.cpassword?.touched)
     }">
     <input type="password" class="form-control"  name="cpassword" id="cpassword" placeholder="Confirm Password" pass-compare="password" parent='false' [(ngModel)]="model.cpassword" #cpassword="ngModel" required >
     <div *ngIf="f.form.controls.cpassword?.invalid && (f.form.controls.cpassword?.dirty || isSubmitted)">
        <div *ngIf="f.form.controls.cpassword?.errors.required">Verify Password is required.</div>
        <div *ngIf="f.form.controls.cpassword?.errors.compare && !f.form.controls.cpassword?.errors.required">Password Mismatch.</div>
     </div>
  </div>-->
  <div class="form-group padding-top">
     <button [disabled]="loading" class="btn btn-primary">Register</button>
     <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
     <a [routerLink]="['/login']" class="btn btn-link">Sign In</a>
  </div>
  <p class="form-control-note mb-0 small">
     By clicking “Register”, you agree to our
     <a class="" href="#" target="_blank">terms of service</a> and
     <a class="" href="#" target="_blank">privacy statement</a>. <span class="js-email-notice">We’ll occasionally send you account related emails.</span>
  </p>
  </form>
</div>