<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="nav-side-menu">
        <div class="brand">  
            <a  [routerLink]="['user/home']" routerLinkActive="active">
            <img class="trad-logo" src="assets/images/logo.png" alt="Logo"/>
            </a>
        </div>
        <i class="fa fa-bars fa-2x toggle-btn" (click)="openMenuBar()" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out" [class.in]="openMenu === true">
                    <li class="active">
                      <a href="#" [routerLink]="['/user/home']"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a>
                    </li>  
                    <li>
                      <a href="#" [routerLink]="['/user/purchase']"><i class="fa fa-shopping-bag fa-lg"></i> Buy Plan </a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/user/subs']"><i class="fa fa-gift fa-lg"></i> My Subscription</a>
                    </li>
                    <li data-toggle="collapse" (click)="openMyProfile()" data-target="#service" class="collapsed" [class.collapsed]=" submenu === true">
                      <a><i class="fa fa-user fa-lg"></i> My Profile <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" [class.in]="myprofile === true" id="service">
                      <li [routerLink]="['/user/profile']">Update Profile</li>
                      <li [routerLink]="['/user/resetpass']">Reset Password</li>
                    </ul>
                     <li>
                      <a href="#">
                      <i class="fa fa-support fa-lg"></i> Contact Us
                      </a>
                      </li>
                      <li class="logout" [routerLink]="['/login']">
                        <a [routerLink]="['/login']">
                        <i class="fa fa-power-off fa-lg"></i> Log Out
                        </a>
                        </li>                      
                </ul>
         </div>
    </div>
    <div class="right-nav">
      <ul class="navbar-nav ml-auto ml-md-0 topbar">


        <li class="nav-item dropdown no-arrow">
          <a class="nav-link" [routerLink]="['/login']" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-power-off fa-fw"></i>
          </a>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-envelope fa-fw"></i>
           
          </a>
        </li>        
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
