<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
</head>

<body>
        <a  [routerLink]="['/home']" routerLinkActive="active">
            <img class="trad-logo mb-4" src="assets/images/logo.png" alt="Logo"/>
            </a>
    <div><h3>Reset Password!</h3>
       
        <form>
            <label for="password">New Password</label>
            <input type="password" name="new-password" id="new-password" required>
            <label for="verifyPassword">Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword" required>
            <input type="submit" name="submit" id="resetPasswordClickEvt" value="Reset Password">
        </form>
    </div>
    <script type="text/javascript">
        var resetPasswordClickEvt = document.getElementById('resetPasswordClickEvt');

        resetPasswordClickEvt.addEventListener('click', resetPasswordClicked);

        function resetPasswordClicked(event) {
            event.preventDefault();
            var token = document.location.href.split('token=')[1];
            var data = "password=" + document.getElementById('new-password').value + '&cpassword=' + document.getElementById('cpassword').value + '&token=' + token;
            ajaxCall(data, "http://www.mytradnix.com/resetpassword", function(status, response) {
            //ajaxCall(data, "http://localhost:4000/resetpassword", function(status, response) {
                if (status == 200) {
                    alert('Password changed successfully!!');
                } else {
                    alert('Error:'+response.message);
                }
            });
        }

        function ajaxCall(data, url, callback) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", url, true);
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    return callback(this.status, JSON.parse(xhttp.response));
                }
            }
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(data);
        }
    </script>
</body>

</html>
