<div class="wrapper">
  <div class="main-panel">
      <app-navbar></app-navbar>
      <adminalert></adminalert>
      <h3>Users</h3>
      <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td><button [disabled]="loading" (click)="selectuser(user)" class="btn btn-primary">Assign Plan</button></td>
              </tr>
            </tbody>
          </table>  
        </div>
   <!-- The Modal -->
<div id="myModal"  [class.showModal]="showModal === true" showModal class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
        <h2>Assign Plan to User</h2>
      <span class="close" (click)="closeModal()">&times;</span>
     
    </div>
    <div class="modal-body">
      <div class="text-center" cz-shortcut-listen="true">
        <form class="form-assignplan" name="form" (ngSubmit)="f.form.valid && assignPlan()" #f="ngForm">
           <div class="input-group mb-3">
            <strong class="lead" *ngIf="selectedUser">{{selectedUser.firstName +" "+ selectedUser.lastName}}</strong>
           </div>
           <div class="input-group mb-3"  [ngClass]="{
              'was-validated ': f.form.controls.planid?.invalid && (f.form.controls.planid?.dirty || f.form.controls.planid?.touched),
              'has-success': f.form.controls.planid?.valid && (f.form.controls.planid?.dirty || f.form.controls.planid?.touched)
              }">
              <select id="planid" name="planid" class="form-control col-md-5" [(ngModel)]="model.planid"  #planid="ngModel" required>
                <option *ngFor="let plan of plans" [ngValue]="plan">{{plan.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="f.form.controls.planid?.invalid && (f.form.controls.planid?.dirty || f.form.controls.planid?.touched)"> 
                Please select Plan
              </div> 
           </div>
          
           <div class="input-group mb-3"  [ngClass]="{
            'was-validated ': f.form.controls.amount?.invalid && (f.form.controls.amount?.dirty || f.form.controls.amount?.touched),
            'has-success': f.form.controls.amount?.valid && (f.form.controls.amount?.dirty || f.form.controls.amount?.touched)
            }">
            <input type="text" class="form-control col-md-5" id="amount" name="amount" placeholder="Investment Amount" value="" [(ngModel)]="model.amount" #amount="ngModel" required>
            <div class="invalid-feedback">
               Please enter valid Investment Amount.
            </div>
         </div>
         <hr/>
        <div class="form-group padding-top button-bottom">
           <button [disabled]="loading" class="btn btn-primary">Save</button>
           <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
           <a (click)="closeModal()" class="btn btn-link">Cancel</a>
        </div>
        </form>
      </div>
      
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>
  <app-footer></app-footer>
       
  </div>
  </div>
  