
<div style="height: 2021px; min-height: 2021px;">
      <div class="root" style="height: 2021px; min-height: 2021px;">
         <div class="vbox wb_container" id="wb_header">
            <div class="wb_cont_inner">
               <div id="wb_element_instance78" class="wb_element wb-menu wb_element_instance78">
                  <ul class="hmenu">
                     <li class="active"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                     <li>
                        <a>Insurance</a>
                        <ul>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Car Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Domestic Travel Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Health Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Overseas Travel Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Term Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Two-Wheeler Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Third Party Car Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Student Travel Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Mediclaim Policy</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Travel Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Senior Citizen Health Insurance</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Life Insurance</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Loan</a>
                        <ul>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Personal Loans</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Car Loans</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Two-Wheeler Loans</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Education Loans</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Mortgage Loan</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Business Loan</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Mudra Loan</a></li>
                        </ul>
                     </li>
                     <li class="">
                        <a>Investment</a>
                        <ul>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">guaranteed Investment</a></li>
                           <li class=""><a [routerLink]="['/inquiry']" routerLinkActive="active">Liquid Investment</a></li>
                           <li class=""><a [routerLink]="['/inquiry']" routerLinkActive="active">SIP</a></li>
                           <li class=""><a [routerLink]="['/inquiry']" routerLinkActive="active">Endowment Policy</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Short Term Investment</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Money Back Policy</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">National Pension scheme (NPC)</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Monthly Income Plan</a></li>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Fixed deposit</a></li>
                        </ul>
                     </li>
                     <li>
                        <a>Contact</a>
                        <ul>
                           <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Enquiry</a></li>
                           <li><a  [routerLink]="['/inquiry']">Terms &amp; Conditions</a></li>
                           <li><a  [routerLink]="['/inquiry']">Privacy Policy</a></li>
                        </ul>
                     </li>
                     <li><a>About Us</a></li>
                  </ul>
                  <div class="clearfix"></div>
               </div>

               <div id="wb_element_instance1" class="wb_element"><a class="wb_button" [routerLink]="['/register']" routerLinkActive="active" title="Home"><span>Sign up</span></a></div>
               <div id="wb_element_instance2" class="wb_element"><a class="wb_button" [routerLink]="['/login']" routerLinkActive="active" title="Login" ><span>Log in</span></a></div>
               <div id="wb_element_instance3" class="wb_element wb_element_picture" title="Mytradnix"><a href="#/"><img alt="Mytradnix" src="assets/images/59a9af953746451933b4f421ea97bc75_143x100.png"></a></div>
            </div>
            <div class="wb_cont_outer"></div>
            <div class="wb_cont_bg"></div>
         </div>
         <div class="vbox wb_container" id="wb_main" style="height: 1626px;">
            <div class="wb_cont_inner">
               <div id="wb_element_instance4" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance20" class="wb_element wb_element_picture" title=""><img alt="gallery/68fdaa828d60e1828ee849c1f72bbc4c" src="assets/images/da4f4c74cf70e2e0602caaf677a89e53_1350x860.png"></div>
               <div id="wb_element_instance21" class="wb_element wb_element_picture" title=""><img alt="gallery/c66db6ca1cb223ac0ff7410e51644e50 2" src="assets/images/c87e590e6522ecc047ff51cd5014aca3_470x617.png"></div>
               <div id="wb_element_instance22" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance23" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance24" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-normal" style="margin: 0cm 0cm 10pt; text-align: left;"><strong><span style="color:rgba(120,114,120,1);"><span style="font-size:11pt"><span style="line-height:115%"><span style="font-family:Calibri,sans-serif">Mytradnix&nbsp;Company is to help clients eliminate the gap between where they are now financially, and where they want to be. ... Furthermore, we strive to produce a perfect long-term performance for our clients, despite the public securities market behavior.</span></span></span></span></strong></p>
                  <p class="wb-stl-normal" style="text-align: left;"><strong><span style="color:rgba(120,114,120,1);"><span style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Mytradnix aims to invest in and build a portfolio of sustainable investments, driven by established goals to build shareholder value, mindful of its social, economic and environmental responsibilities, as it remains to be committed to integrity, honesty, and fairness in all dealings with its stakeholders.</span></span></span> </span></strong></p>
               </div>
               <div id="wb_element_instance25" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-normal" style="text-align: left;"><strong><span style="color:rgba(120,114,120,1);"><span style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">We have to work in online trading. In 2013 Our Company started a trading business. Before 2018 we have only worked in private investment but now we </span></span></span></span></strong><span style="color:rgba(120,114,120,1);"><span style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><strong>have ,</strong></span></span></span></span><strong><span style="color:rgba(120,114,120,1);"><span style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"> public investment in our fund.</span></span></span></span></strong></p>
                  <p class="wb-stl-normal" style="text-align: left;">&nbsp;</p>
                  <p class="wb-stl-normal" style="text-align: left;"><strong><span style="color:rgba(120,114,120,1);"><span style="font-size:11.0pt"><span style="line-height:115%"><span style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;">Our Company works as an investment adviser. Our company investing in the share market, IPO, mutual funds, government bonds, and private bonds, government schemes, Gold ETF, Fixed deposited.</span></span></span></span></strong></p>
               </div>
               <div id="wb_element_instance26" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance27" class="wb_element" style=" line-height: normal;">
                  <h3 class="wb-stl-heading3"><span style="color:rgba(255,255,255,1);">VISION</span></h3>
               </div>
               <div id="wb_element_instance28" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance29" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance30" class="wb_element" style=" line-height: normal;">
                  <h3 class="wb-stl-heading3"><span style="color:rgba(255,255,255,1);">OUR PARTNERS</span></h3>
               </div>
               <div id="wb_element_instance31" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-custom-13"><span style="color:rgba(255,255,255,1);">TOP INVESTMENT&nbsp;OPTION</span></p>
               </div>
               <div id="wb_element_instance32" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-custom-13"><span style="color:rgba(255,255,255,1);"><span style="font-size:10.5pt"><span style="line-height:115%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">INSURANCE OPTION</span></span></span></span></p>
               </div>
               <div id="wb_element_instance33" class="wb_element wb_element_picture" title=""><img alt="gallery/logos" src="assets/images/c2a7c264451cadf36e146a777f9971ea_504x210.png"></div>
               <div id="wb_element_instance34" class="wb_element wb_element_picture" title="Term Life Insurance"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Term Life Insurance" src="assets/images/290ce5e27abc9a0b41a5b7e3edf9d810_106x124.png"></a></div>
               <div id="wb_element_instance35" class="wb_element wb_element_picture" title="Home Loan"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Home Loan" src="assets/images/0b622d104550b69c8da697f1739c2399_106x128.png"></a></div>
               <div id="wb_element_instance36" class="wb_element wb_element_picture" title="Health Insurance"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Health Insurance" src="assets/images/25988fe5ef76f75faccd0118e24a5155_106x127.png"></a></div>
               <div id="wb_element_instance37" class="wb_element wb_element_picture" title="Mortgage Loan"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Mortgage Loan" src="assets/images/ee2ac4135b7e059c099a9069e82d43b4_106x128.png"></a></div>
               <div id="wb_element_instance38" class="wb_element wb_element_picture" title="Car insurance"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Car insurance" src="assets/images/5c4a5206c48429402f8f2bc42bdc85ca_109x127.png"></a></div>
               <div id="wb_element_instance39" class="wb_element wb_element_picture" title="Personal Loan"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Personal Loan" src="assets/images/4ff5b0464d1a3f432368ee4846741a1d_109x128.png"></a></div>
               <div id="wb_element_instance40" class="wb_element wb_element_picture" title="Two Wheel Insurance"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Two Wheel Insurance" src="assets/images/c3c5bef85a39240fb15bcbe5482e67be_106x127.png"></a></div>
               <div id="wb_element_instance41" class="wb_element wb_element_picture" title="Home Insurance"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Home Insurance" src="assets/images/8d946256306c142b3c8b7961e6fcafb1_109x127.png"></a></div>
               <div id="wb_element_instance42" class="wb_element wb_element_picture" title="Chaild Plan"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Chaild Plan" src="assets/images/04ce8cdd5d8db8b05eddececc9e14cae_107x127.png"></a></div>
               <div id="wb_element_instance43" class="wb_element wb_element_picture" title="SIP"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="SIP" src="assets/images/7176bb8f929deac78f1af7a4ff6c96a6_108x128.png"></a></div>
               <div id="wb_element_instance44" class="wb_element wb_element_picture" title="Liquid Investment"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Liquid Investment" src="assets/images/c7f9109cb3f0180e365c208071bf362b_109x128.png"></a></div>
               <div id="wb_element_instance45" class="wb_element wb_element_picture" title="Guaranteed Investment"><a [routerLink]="['/inquiry']" routerLinkActive="active"><img alt="Guaranteed Investment" src="assets/images/7a94a1eafd26a2f8e3116efd2a0043d9_106x128.png"></a></div>
               <div id="wb_element_instance46" class="wb_element wb-menu">
                  <ul class="hmenu">
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Endowment Policy</a></li>
                     <li><a>Short Term Investment</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">National Pension scheme (NPC)</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Monthly Income Plan</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Fixed deposit</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Money Back Policy</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">guaranteed Investment</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Liquid Investment</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">SIP</a></li>
                  </ul>
                  <div class="clearfix"></div>
               </div>
               <div id="wb_element_instance47" class="wb_element wb-menu">
                  <ul class="hmenu">
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Car Insurance</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Health Insurance</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Domestic Travel Insurance</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Overseas Travel Insurance</a></li>
                     <li><a>Term Insurance</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Two-Wheeler Insurance</a></li>
                     <li><a>Third Party Car Insurance</a></li>
                     <li><a>Student Travel Insurance</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Mediclaim Policy</a></li>
                     <li><a>Travel Insurance</a></li>
                     <li><a [routerLink]="['/inquiry']" routerLinkActive="active">Life Insurance</a></li>
                     <li><a>Senior Citizen Health Insurance</a></li>
                  </ul>
                  <div class="clearfix"></div>
               </div>
               <div id="wb_element_instance48" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance49" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
               <div id="wb_element_instance50" class="wb_element" style=" line-height: normal;">
                  <h3 class="wb-stl-heading3"><span style="color:rgba(255,255,255,1);">ABOUT US</span></h3>
               </div>
               <div id="wb_element_instance51" class="wb_element" style="width: 100%; display: none;">
               </div>
            </div>
            <div class="wb_cont_outer"></div>
            <div class="wb_cont_bg"></div>
         </div>
         <div class="vbox wb_container" id="wb_footer">
            <div class="wb_cont_inner" style="">
               <div id="wb_element_instance5" class="wb_element wb_element_picture" title=""><img alt="gallery/youtube" src="assets/images/17ec91ccd9dc613b5a39573e21c90e4d_31x30.png"></div>
               <div id="wb_element_instance6" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-normal"><span style="color:rgba(255,255,255,1);"><span style="color:rgba(230,227,230,1);">Address:</span> <span style="color:rgba(214,207,214,1);">Surat, Gujarat, India.</span></span></p>
               </div>
               <div id="wb_element_instance7" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-custom-15" style="text-align: left;"><span style="color:rgba(255,255,255,1);">Insurance is the subject matter of solicitation. Visitors are hereby informed that their information submitted on the website may be shared with insurers.</span></p>
               </div>
               <div id="wb_element_instance8" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-custom-15" style="text-align: left;"><span style="color:rgba(255,255,255,1);">Product information is authentic and solely based on the information received from the Insurer © Copyright 2018 mytradnix.com. All Rights Reserved.</span></p>
               </div>
               <div id="wb_element_instance9" class="wb_element wb_element_picture" title=""><a href="https://www.facebook.com/Mytradnix" title="facebook" target="1"><img alt="gallery/fb" src="assets/images/2f94a1bbd2da20b0ebfb7cfbe191998f_31x30.png"></a></div>
               <div id="wb_element_instance10" class="wb_element wb_element_picture" title=""><a href="https://www.instagram.com/mytradnix/" title="instagram" target="1"><img alt="gallery/insta" src="assets/images/b3cf77c0851cce51eb05181febfb5ba4_30x31.png"></a></div>
               <div id="wb_element_instance11" class="wb_element wb_element_picture" title=""><a href="https://twitter.com/mytradnix" title="twitter" target="1"><img alt="gallery/twiter" src="assets/images/b22a9ddf2896d1753e146c0c4b564bfc_31x30.png"></a></div>
               <div id="wb_element_instance12" class="wb_element wb_element_picture" title=""><a href="https://www.linkedin.com/in/mytradnix-71720816a/" title="linkedin" target="1"><img alt="gallery/in" src="assets/images/0aa6e712eff9507c07307e329e28706d_30x30.png"></a></div>
               <div id="wb_element_instance13" class="wb_element wb_element_picture" title=""><a href="https://www.pinterest.com/mytradnix/" title="pinterest" target="1"><img alt="gallery/pin" src="assets/images/e6757f4410a4ec8b36995dc933f6d462_31x30.png"></a></div>
               <div id="wb_element_instance14" class="wb_element" style=" line-height: normal;">
                  <h1 class="wb-stl-heading1"><strong><span style="color:rgba(255,255,255,1);">Contacts</span></strong></h1>
               </div>
               <div id="wb_element_instance15" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-normal"><span style="color:rgba(255,255,255,1);"><span style="color:rgba(230,227,230,1);">Email:</span>&nbsp;</span><font color="#d6cfd6">mytradnix@gmail.com</font></p>
               </div>
               <div id="wb_element_instance16" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-normal"><span style="color:rgba(255,255,255,1);"><span style="color:rgba(230,227,230,1);">Phones: +91 98790 00947 or +91 9879912300</span></span></p>
               </div>
               <div id="wb_element_instance17" class="wb_element" style=" line-height: normal;">
                  <h6 class="wb-stl-custom-13"><span style="color:rgba(255,255,255,1);">Follow, like, tweet or post. We Would love to interact with you</span></h6>
               </div>
               <div id="wb_element_instance18" class="wb_element" style=" line-height: normal;">
                  <p class="wb-stl-custom-15" style="text-align: left;"><span style="color:rgba(255,255,255,1);">The product information for comparison displayed on this website is of the insurers with whom our company has an agreement.</span></p>
               </div>
            </div>
            <div class="wb_cont_outer">
               <div id="wb_element_instance19" class="wb_element wb_element_shape">
                  <div class="wb_shp"></div>
               </div>
            </div>
            <div class="wb_cont_bg"></div>
         </div>
         <div class="wb_sbg" style="height: 2021px; min-height: 2021px;"></div>
      </div>
   </div>
