

    <!--========================================================
                              HEADER
    =========================================================-->

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom shadow-sm header">
            <h1 class="my-0 mr-md-auto font-weight-normal">
                    <a  [routerLink]="['/home']" routerLinkActive="active">
                            <img class="trad-logo" src="assets/images/logo.png" alt="Logo"/>
                    </a>
            </h1>
            <nav class="my-2 my-md-0 mr-md-3 menu-bar">
                    <a [routerLink]="['/home']" >Home</a>
                    <a [routerLink]="['/plans']" routerLinkActive="active">Plans & Pricing</a>
                    <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
            </nav>
            <p class="login-container">
            <a [routerLink]="['/login']" routerLinkActive="active"class="btn btn-primary btn-login my-2">Login</a>
            <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2">Signup</a>
            </p>
        </div>  
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
    <div class="camera-wrapper">
        <div id="camera" class="camera-wrap">
            <div class="banner-wrap">
                <img src="assets/images/index_slide01.jpg"/>
                <h2 class="text_1 color_1 text_tag">Invest with Confidence</h2>
            </div>
        </div>
    </div>
    <div>
            <!--<div class="icon_money"></div>-->
       
        <!--Plans-->
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Plans</h1>
        </div>  
        <div class="container">
                <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-header liquid">
                            <h4 class="my-0 font-weight-normal">Liquid Fund</h4>
                          </div>
                          <div class="card-body">
                           <p>Expected Return: <strong class=""> 3-8% </strong><small>(monthly)</small></p>
                            <table class="table">
                                <tbody>
                                <tr class="active">
                                    <td>
                                        Minimum Investment Amount: &#8360;10000
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Maximum Investment Amount: &#8360;1000000
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>
                                        Your investments live <strong>24*7</strong>.
                                    </td>
                                </tr>
                              <!--  <tr>
                                    <td>
                                       <small>Admin fee 2% (At a time of withdrawing).</small> 
                                    </td>
                                </tr> -->                                
                            </tbody></table>
                            <div class="liq-fheight"></div>
                            <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2 btn-plan">Invest Now</a>
                          </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                                <div class="card-header capital">
                                  <h4 class="my-0 font-weight-normal">Capital Fund</h4>
                                  <div class="cnrflash">
                                        <div class="cnrflash-inner">
                                            <span class="cnrflash-label">MOST
                                                <br>
                                                POPULR</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                 <p>Expected Return: <strong class=""> 36-47% </strong><small>(Annually)</small></p>
                                  <table class="table">
                                      <tbody>
                                          <tr>
                                          <td class="lead mark">
                                             <strong >Guaranteed Return</strong>
                                          </td>
                                      </tr>
                                      <tr>
                                              <td>
                                                  <ul class="capitalList">
                                                      <li>
                                                      1Year -> <strong class="lead">20.0%</strong> Return
                                                      </li>
                                                      <li>
                                                      2Year -> <strong class="lead">22.5% </strong>Return
                                                      </li>
                                                      <li>
                                                      3Year -> <strong class="lead">25.0%</strong> Return
                                                      </li>
                                                  </ul>
                                              </td>
                                          </tr>
                                      <tr class="active">
                                          <td>
                                              Minimum Investment Amount: &#8360;10000
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              Maximum Investment Amount: &#8360;1000000
                                          </td>
                                      </tr>
                                      <tr class="active">
                                          <td>
                                              Minimum Investment Period: 12 Month
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              Your investments live <strong>24*7</strong>.
                                          </td>
                                      </tr>
                                      <!-- <tr class="active">
                                          <td>
                                              <small>If you withdrawal your investment before maturity month Withdraw load is 5% charged.</small>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                             <small>Admin fee 2% (At a time of withdrawing).</small> 
                                          </td>
                                      </tr> -->                                
                                  </tbody></table>
                                  <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2 btn-plan">Invest Now</a>
                                </div>
                              </div>
                              <div class="card mb-4 shadow-sm">
                                    <div class="card-header sip">
                                      <h4 class="my-0 font-weight-normal">SIP</h4>
                                    </div>
                                    <div class="card-body">
                                     <p>Expected Return: <strong class=""> 36-47% </strong><small>(Annually)</small></p>
                                      <table class="table">
                                          <tbody>
                                          <tr class="active">
                                              <td>
                                                  Minimum Investment Amount: &#8360;1000
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  Maximum Investment Amount: &#8360;10000
                                              </td>
                                          </tr>
                                          <tr class="active">
                                              <td>
                                                  Your investments live <strong>24*7</strong>.
                                              </td>
                                          </tr>
                                         <!-- <tr>
                                              <td>
                                                  <small>If you withdrawal your investment before 12 month Withdraw load is 5% charged.</small>
                                              </td>
                                          </tr>
                                          <tr class="active">
                                              <td>
                                                 <small>Admin fee 2% (At a time of withdrawing).</small> 
                                              </td>
                                          </tr> -->                                
                                      </tbody></table>
                                      <div class="sip-fheight"></div>
                                      <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2 btn-plan">Invest Now</a>
                                    </div>
                                  </div>
                      </div>
                      <!--End of plans-->
        </div>      
    </div>
    <div class="container marketing">
            <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                                    <div class="box_1">
                <div class="icon_1"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Budget Planning</a></h3>
                <p class="text_3 color_2 maxheight">
                    Lorem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis
                </p>
                <a class="btn btn-primary btn-signup" href="#">read more</a></div>
                    </div>
                    <div class="card mb-4 shadow-sm">
            <div class="box_1">
                <div class="icon_2"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Market Research</a></h3>
                <p class="text_3 color_2 maxheight">
                    Dorem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis
                </p>
                <a class="btn btn-primary btn-signup" href="#">read more</a></div>
                          </div>
                          <div class="card mb-4 shadow-sm">
                            <div class="box_1">
                <div class="icon_4"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Risk Management</a></h3>
                <p class="text_3 color_2 maxheight">
                    Norem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis neque facilisis, sit
                    amet uesas
                </p>
                <a class="btn btn-primary btn-signup" href="#">read more</a></div>
                              </div>
                  </div>
    </div>  
    <div class="wrap_1 bg_1">
        <div class="container">
            <div class="row">
                <div>
                    <h2>
                        The Best Investment Services <br/>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="grid_12">
                    <div>
                        <p>
                            Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                            commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id
                            laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                            consectetur orci sed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap_2 bg_1">
        <div class="container">
            <div>
                <div >
                    <h2>
                        What Clients Say
                    </h2>
                </div>
            </div>
            <div class="row">
                <div>
                    <div>
                        <div class="item">
                            <p>
                                Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                                commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus
                            </p>
                        </div>
                        <div class="item">
                            <p>
                                Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                                commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
            <div class="container">
              <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                  <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <p>We are the best Investment company, dedicated to the best result in various Investment Plans.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
                  </div>
                </div>
                <div class="col-md-4">
                  <h5>Contacts</h5>
                  <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>Surat, Gujarat.</dd>
                  </dl>
                  <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">mytradnix@gmail.com</a></dd>
                  </dl>
                  <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd><a href="tel:#">+91 98790 00947</a> <span>or</span> <a href="tel:#">+91 76980 46366</a>
                    </dd>
                  </dl>
                </div>
                <div class="col-md-4 col-xl-3">
                  <h5>Links</h5>
                  <ul class="nav-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Plans & Pricing</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class=" no-gutters social-container">
                
                       <a class="fa fa-twitter" href="https://twitter.com/mytradnix"></a>
                    <a class="fa fa-facebook" href="https://www.facebook.com/Mytradnix"></a>
                    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/mytradnix-71720816a/"></a>
                  <a class="fa fa-pinterest" href="https://www.pinterest.com/mytradnix/"></a>
                
            </div>
          </footer> 
