

    <!--========================================================
                              HEADER
    =========================================================-->

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom shadow-sm header">
            <h1 class="my-0 mr-md-auto font-weight-normal">
                    <a  [routerLink]="['/home']" routerLinkActive="active">
                            <img class="trad-logo" src="assets/images/logo.png" alt="Logo"/>
                    </a>
            </h1>
            <nav class="my-2 my-md-0 mr-md-3 menu-bar">
                    <a [routerLink]="['/home']" >Home</a>
                    <a [routerLink]="['/plans']" routerLinkActive="active">Plans & Pricing</a>
                    <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
            </nav>
            <p class="login-container">
            <a [routerLink]="['/login']" routerLinkActive="active"class="btn btn-primary btn-login my-2">Login</a>
            <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2">Signup</a>
            </p>
        </div>  
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
    <div class="camera-wrapper">
        <div id="camera" class="camera-wrap">
            <div class="banner-wrap">
                <img src="assets/images/index_slide01.jpg"/>
                <h2 class="text_1 color_1 text_tag">Invest with Confidence</h2>
            </div>
        </div>
    </div>
    <div>
            <!--<div class="icon_money"></div>-->
       
        <!--Plans-->
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Plans</h1>
        </div>  
        <div class="container">
                <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 shadow-sm">
                          <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Capital Fund</h4>
                          </div>
                          <div class="card-body">
                            <h1 class="card-title pricing-card-title"> Expected Return: 36-47% (Annually)</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                    <li>Guaranteed Return</li>
                                    <li><ul>
                                        <li>
                                        1 year -20%
                                        </li>
                                        <li>
                                        2 Year- 22.5%
                                        </li>
                                        <li>
                                        3 Year -25%
                                        </li>
                                    </ul>
                                       
                                      
                                     </li>

                              <li>Minimum investment Amount: &#8360;10000</li>
                              <li>Maximum investment Amount: &#8360;1000000</li>
                              <li>Minimum Investment Period: 12 Month</li>
                              <li>If you withdrawal your investment before maturity month Withdraw load is 5% charged.</li>
                              <li>Admin fee 2% (At a time of withdrawing).</li>
                              <li>Your investments live 24*7.</li>
                            </ul>
                            <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2">Invest Now</a>
                          </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                          <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Liquid Fund</h4>
                          </div>
                          <div class="card-body">
                            <h1 class="card-title pricing-card-title">Expected Return: 3-8% <small class="text-muted">/ monthly</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                    <li>Minimum investment Amount: &#8360;10000</li>
                                    <li>Maximum investment Amount: &#8360;1000000</li>
                                    <li>Admin fee 2% (At a time of withdrawing).</li>
                                    <li>Your investments live 24*7.</li>
                            </ul>
                            <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2">Invest Now</a>
                          </div>
                        </div>
                        <div class="card mb-4 shadow-sm">
                          <div class="card-header">
                            <h4 class="my-0 font-weight-normal">SIP</h4>
                          </div>
                          <div class="card-body">
                            <h1 class="card-title pricing-card-title">Expected Return: 3-8% <small class="text-muted">/ monthly</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                    <li>Minimum investment Amount: &#8360;1000</li>
                                    <li>Maximum investment Amount: &#8360;10000 </li>
                                    <li>If you withdrawal your investment before 12 month Withdraw load is 5%.</li>
                                    <li>Admin fee 2% (At a time of withdrawing).</li>
                                    <li>Your investments live 24*7.</li>
                            </ul>
                            <a [routerLink]="['/register']" routerLinkActive="active"class="btn btn-primary btn-signup my-2">Invest Now</a>
                          </div>
                        </div>
                      </div>
        
                      <!--End of plans-->

        </div>      



        <div class="row wrap_1 wrap_5">
            <div class="grid_3">
                <div class="box_1">
                    <div class="icon_1"></div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Budget Planning</a></h3>
                    <p class="text_3 color_2 maxheight">
                        Lorem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis
                    </p>
                    <a class="btn_2" href="#">read more</a></div>
            </div>
            <div class="grid_3">
                <div class="box_1">
                    <div class="icon_2"></div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Marketing Research</a></h3>
                    <p class="text_3 color_2 maxheight">
                        Dorem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis
                    </p>
                    <a class="btn_2" href="#">read more</a></div>
            </div>
            <div class="grid_3">
                <div class="box_1">
                    <div class="icon_3"></div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Employee Benefits</a></h3>
                    <p class="text_3 color_2 maxheight">
                        Kerem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis
                    </p>
                    <a class="btn_2" href="#">read more</a></div>
            </div>
            <div class="grid_3">
                <div class="box_1">
                    <div class="icon_4"></div>
                    <h3 class="text_2 color_2 maxheight1"><a href="#">Risk Management</a></h3>
                    <p class="text_3 color_2 maxheight">
                        Norem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis neque facilisis, sit
                        amet uesas
                    </p>
                    <a class="btn_2" href="#">read more</a></div>
            </div>
        </div>
    </div>
    <div class="bg_1 wrap_2 wrap_4">
        <div class="container">
            <div class="row">
                <div class="preffix_2 grid_8">
                    <h2 class="header_1 wrap_3 color_3">
                        The Best Marketing Services, <br/>
                        Data & Analysis
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="grid_12">
                    <div class="box_1">
                        <p class="text_3">
                            Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                            commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id
                            laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                            consectetur orci sed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row wrap_1">
            <div class="grid_6">
                <div class="wrap_6">
                    <div class="box_2 maxheight2">
                        <div class="put-left"><img src="assets/images/index_img01.png" alt="Image 1"/></div>
                        <div class="caption">
                            <h3 class="text_2 color_2">
                                Save Your Time <br/>
                                with Us
                            </h3>
                            <p class="text_3">
                                Morem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis neque facilisis,
                                sit amet ultries wertolio dasererat rutru.
                            </p>
                            <a href="#" class="btn_2">read more</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="grid_6">
                    <div class="wrap_6">
                        <div class="box_2 maxheight2">
                            <div class="put-left"><img src="assets/images/index_img02.png" alt="Image 2"/></div>
                            <div class="caption">
                                <h3 class="text_2 color_2">
                                    The Highest <br/>
                                    Quality Services
                                </h3>
                                <p class="text_3">
                                    Lorem ipsum dolor sit amettetur dipiscing elit. In mollis erat mattis neque facilisis,
                                    sit amet ultries wertolio dasererat rutrum.
                                </p>
                                <a href="#" class="btn_2">read more</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
    <div class="bg_1 wrap_7 wrap_5">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h2 class="header_1 wrap_8 color_3">
                        What Clients Say
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="grid_12">
                    <div id="owl">
                        <div class="item">
                            <p class="text_3">
                                Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                                commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id
                                laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla
                                ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros,
                                <br/>
                                laoreet sit amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus
                                sagittis, non consequat lacus interdum.
                            </p>
                        </div>
                        <div class="item">
                            <p class="text_3">
                                Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,
                                commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id
                                laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                consectetur orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla
                                ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros,
                                <br/>
                                laoreet sit amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus
                                sagittis, non consequat lacus interdum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row wrap_9 wrap_4 wrap_10">
            <div class="grid_12">
                <div class="header_1 wrap_3 color_3">
                    Get in Touch
                </div>
                <div class="box_3">        
                        <a class="fa fa-twitter" href="https://twitter.com/mytradnix"></a>
                        <a class="fa fa-facebook" href="https://www.facebook.com/Mytradnix"></a>
                        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/mytradnix-71720816a/"></a>
                      <a class="fa fa-pinterest" href="https://www.pinterest.com/mytradnix/"></a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer id="footer" class="color_9">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <p class="info text_4 color_4">
                        © <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <br/>
                        Website designed by <a href="http://www.mytradnix.com/" rel="nofollow">MyTradnix.Com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>    
