.container{
    margin-top: 15px;
}
.margin-left{
    margin-left: -9px;
    margin-right: -9px;
}
.card-footer{
    background-color: #fff;
    color:#000;
}
.bg-panel1{
    background-color: brown;
}
.bg-panel2{
    background-color: #312e2e;
}
.bg-panel3{
    background-color: crimson;
}
.bg-panel4{
    background-color: #3e86c5;
}
.text1{
    font-size: 3em;
}
.text2{
    font-size: 1.5em;
}